.body {
  margin: 10%;
  display: flex;
  justify-content: center;

}

.button {

  display: flex;
  flex-direction: column;
  gap: 4%;
  margin-top: 2%;
}

h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.score {

  text-align: center;
}